.header{
    background-color: purple;
    color: rgb(255, 255, 255);
    font-size: 150px;
    line-height: 1.5;
    text-shadow: 0 0 8px rgb(21, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;

}